/*HEADER*/

.ajustado
{
	padding: 11px;
	margin-top: -15px
}

.ConNav
{
	margin-left: 0%;
	width: 95%;
}

.size
{
	width: 30%;
}
.size2
{
	width: 95%;
}

footer 
{
	background: #F8F8F8;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.centrar
{
	margin: 10px;
}
.posi {
background-color: white;
overflow: hidden;
position: absolute;
height: 320px;
width: 300px;
left: 50%;
top: 45%;
margin-top: -140px;
margin-left: -150px;
}

@media screen and (max-width: 768px){
.ajustado
{
	padding: 11px;
	margin-top: -15px
}

.ConNav
{
	margin-left: 0%;
	width: 95%;
}
.size
{
	width: 95%;
}
.size2
{
	width: 95%;
}

}